.logoimage {
  height: 150px;

  /* border-radius: 16%;
  border-width: 1px; */
  /* border-color: bisque;
  border-style: solid; */
  align-items: center;
  margin-top: 80px;
  /* border-color: cornsilk; */
  fill: white;
  background-color: transparent;
}
.logoimage:hover {
  color: beige;
  -moz-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(1.2);
  transition: 0.4s;
}

.body {
  padding-left: 100px;
  background-image: url("/Users/mdhasib/Desktop/Project/HTML/Port/images/leonel.jpeg");

  margin: auto;
  background-size: cover;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  text-align: center;
  background-position: 0%;
  background-image: url("images/messi.jpg");
  background-position: 100%;
  background-size: cover;
  height: 100vh;
  text-align: -webkit-center;

  width: 100%;
  /* width: -webkit-fill-available; */
}
.name h1 {
  margin-top: 20px;
  color: rgb(128, 125, 120);
  font-size: 30px;
}

.navigation {
  height: 50px;
  border-style: double;
  border-width: 2px;
  /* justify-content: space-between; */
  /* align-items: flex-end; */
  text-align: center;
  font-size: 30px;
  background-color: rgb(255, 255, 255);
  /* height: 50px; */

  word-spacing: 28px;
}
.navigation a {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  text-align: center;
  text-decoration: solid;
  font-size: 26px;
  font-weight: bolder;
}
.navigation a:hover {
  border: 2px;
  background-color: bisque;

  box-shadow: 2px;
  animation: 19ms;
}

.div1 {
  height: 200px;
  /* margin: 0 auto; this item use for positioned in center */
  width: 33.33%;
  background-color: red;
}
/* .div2 {
  height: 200px;
  width: 33.33%;
  background-color: green;
} */
.div3 {
  width: 33.33%;
  height: 200px;
  background-color: blue;
}
.emon {
  width: 90%;
  overflow: hidden;
  background: skyblue;
  /* margin: 20px auto; */
  padding: 20px;
}
.emon .div2 {
  list-style: none;
  float: left;
  width: 250px;
  height: 280px;
  background: red;
  margin: 40px 40px 0px 55px;
}
.nai div {
  flex-direction: column;
}
.discription {
  margin-bottom: 30px;
  display: flex;
  color: rgb(155, 144, 130);
  text-align: center;
  width: 100%;
}
.discription .one,
.two,
.three,
.four {
  /* background-image: url("https://neskaties.lv/thumbnails/1200x630/2021/09/0c61-6153f82d37747-scaled.jpg"); 
 background-image: url("https://idsb.tmgrup.com.tr/ly/uploads/images/2021/11/29/thumbs/800x531/163502.jpg?v=1638226477");  */
  width: 25%;
  background-size: cover;
  height: 200px;
}

.divimage {
  border-end-end-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 98%;
  height: 190px;
}

.divimage:hover {
  color: beige;
  -moz-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(1.2);
  transition: 0.4s;
}
.box {
  background-color: transparent;
  border-color: chartreuse;
  border-width: 2px;
  margin: 0 auto;
  width: 50%;
  height: 622px;
  border-width: 0.5px;
  border-color: rgb(230, 213, 213);
  border-style: solid;
}
.grid-container {
  background-color: gray;
  display: inline-grid;
}
.laligaimg {
  float: left;
  border-radius: 20px;
  width: 80px;
  margin: 3px;
}
.laligaimg:hover {
  transform: scale(1.2);
  transition: 0.4s;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.header {
  height: 90px;
  border-width: 2px;
  border-color: gray;
  border-style: solid;
}
.header h3 {
  font-size: 30px;
  padding-top: 20px;

  align-items: center;
}
.row {
  border-width: 10px;
  height: 300px;
  /* background-image: url(images/time.png); */

  /* display: flex; */
  align-content: center;
}
.row div {
  width: 25%;
  display: grid;

  border-width: 10px;
  border-color: rgb(88, 36, 36);
  border-style: solid;
}
.row img {
  height: 530px;
  width: 100%;
}

.card {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  border-color: #000;
  border-width: 10px;
  max-width: 300px;
  margin: auto;
  font-size: 1rem;
  text-align: center;
}
.card:hover {
  box-shadow: 10px 4px 40px 10px rgba(3, 3, 3, 0.2);
  transition: 0.4s;
}
.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
.cardo {
  margin: 10px;
  padding: 10px;
  display: flex;

  color: blue;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;

  padding-top: 40px;
  color: #fff;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 2.8rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;

  border-radius: 50%;
}
.socials a i {
  font-size: 1.1rem;
  width: 20px;

  transition: color 0.4s ease;
}
.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}
.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a {
  color: #44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
.footer-menu {
  float: right;
}
.footer-menu ul {
  display: flex;
}
.footer-menu ul li {
  padding-right: 10px;
  display: block;
}
.footer-menu ul li a {
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover {
  color: #27bcda;
}
